/* General */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    /* color: #444; */
    /* color in line with the corporate design  */
    color: #0F2741;
    background-color: #fff;
}
.structureWrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.gridWrapper {
    margin: 0 auto;
    padding: 0 25px;
    max-width: 1186px;
}
.header {
    box-sizing: border-box;
    width: 100%;
    padding: 25px 0;
    /* background-color: darkblue; */
    /* color in line with the corporate design  */
    background-color: #0f2741;
}
.content {
    padding: 50px 0;
    flex: 1 1 0;
}
.footer {
    padding: 10px 0;
    /* text-align: right; */
    /* footer text centered  */
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
    /* background-color: #333; */
    /* bg color changed in order to increase the contrast */
    background-color: #0f2741;
}

/* Logo */
.logo {
    display: block;
    width: auto;
    height: 36px;
}

/* added in line with the corporate design*/
.logo:hover {
    opacity: .95;
    transition: 2s opacity;
}

/* Text */
.headline {
    font-size: 2.5em;
    font-weight: 300;
    margin-bottom: 0.5em;
}
.paragraph {
    margin-top: 0.5em;
}
.paragraph:first-of-type {
    margin-top: 0;
}

/* Fizz Buzz list */
#fizzBuzzList {
    margin: 20px 10px;
}
.fizzBuzzList__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    color: #0077D5;
}
.fizzBuzzList__list_item {
    padding: 5px;
}
.fizzBuzzList__list_item:hover {
    transform: scaleZ(1.1);
    color: #0f2741;
}

/* tablet */
@media screen and (min-width:526px) {
    .fizzBuzzList__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }    
}

/* desktop */
@media only screen and (min-width : 1038px) {
    .fizzBuzzList__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    } 
}